extends layout
block content
  div(class="container")
    h1= title
  
    if error
      p 
        | Error occured: 
        = error
    div(class="row")
      div(class="col-md-4")
        form(role="form")
          div(class="form-group")
            label(for="categoryName") Category Name
            input(type="email", class="form-control", id="categoryName", placeholder="Enter Category Name")
          div(class="form-group")
            button(type="submit", class="btn btn-default") Submit
    if categories
      div(class="row")
        each category, index in categories
          div(class="col-md-6")
            div(class="panel panel-default")
              div(class="panel-heading")
                h2(class="panel-heading")= category.name
              div(class="panel-body")
                ul(class="list-group")
                each note in category.notes
                  li(class=list-group-item)
                    p= note.note
                  li(class=list-group-item)
                    p= note.author
                  li(class=list-group-item)
                    p= note.color